# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
* Different types of tools that data scientist use
* Intoduction to python, R and SQL etc...
* Introduction to API's ex-REST request and response
* Getting started with Jupyter Notebooks
* Inroduction to R and RStudio, data visualization using ggplot.
* Getting stared with Git\Github.
* Setting up Watson Studio etc...

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn

# Data science Tools
1. jupyter Notebook
2. Rstudios
3. Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Pavan M